/*** Composition ***/

body {
    margin: 0;
}

/* Places content to right of wood image by default*/
.margin-left {
    margin-left: 33vw;
    position: relative;
}

/*** Utilities ***/
.header-title {
    font-family: var(--font1);
    font-size: larger;
    text-transform: uppercase; 
}

/* Styling for section titles*/
.title-text {
    font-family: var(--font1);
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.page-text {
    margin-top: .5rem;
    color: var(--mid);
    font-family: var(--font1);
}

.pro {
    margin-left: -36%;
    color: var(--light);
    padding-top: 2rem;
}

.secondary-title {
    font-size: larger;
    font-family: var(--font2);
    margin-bottom: .5rem;
}

.web-link {
    color: var(--dark);
    text-decoration: none;
}

.grayscale {
    filter: grayscale(1);
}

.header-line {
    border-bottom: solid var(--dark) 2px;
    width: 70vw;
}

.lg-scale {
    width: 15rem;
}

.sm-scale {
    width: 10rem;
    height: 13rem;
    border: solid var(--soft) 1px;
}

/*** Blocks ***/

/* Standardizes the size of each section */
.web-view-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.web-intro-container {
    align-items: center;
    margin-top: -10vh;
    display: flex;
    height: 100vh;
}

/* Holds background image in place*/
.side-img {
    position: fixed;
    top: 0px;
    width: 33%;
    height: 100vh;
}

/* Creates top name/title bar*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}

.selfie {
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    margin-left: -15%;
}

.about-column {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
}

.web-nav-links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.flex-container {
    display: flex;
}

.projectA {
    display: flex;
    margin-bottom: 2rem;
    justify-content: left;
    margin-left: 2rem;
}

.projectB {
    display: flex;
    justify-content: left;
    padding-left: 2rem;
    align-items: center;
}

.text-container {
    width: 40%;
    padding: 1rem;
}

.contact-box {
    height: 50vw;
    flex-direction: column;
    display: flex;
    align-items: end;
    text-align: end;
    margin-right: 2rem;
    justify-content: space-evenly;
}

/*** Exceptions ***/

/* Hides mobile view */
.mobile {
    display: none;
}

.grayscale:hover {
    filter: grayscale(0);
}

.web-link:hover {
    color: var(--accent);
}

/*** Mobile CSS ***/
@media screen and (max-width: 768px) {
    /*** Composition ***/
    .mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*** Utilities ***/
    .m-nav-link {
        color: var(--light);
        text-decoration: none;
    }

    b {
        color: var(--accent);
    }

    .m-selfie {
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
    }

    .m-center {
        justify-content: center;
        margin-top: -10vh;
    }

    .m-lg-scale {
        width: 50vw;
    }

    .m-sm-scale {
        width: 25%;
        border: solid var(--soft) 1px;
    }

    .m-link {
        color: var(--dark);
        text-decoration: none;
    }

    /*** Block ***/
    .m-header-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
        width: 100%;
        background-image: url("../images/wood.png");
        background-position: -10px;
    }

    .m-nav-container {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        z-index: 10;
        color: var(--light);
    }

    .m-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80vw;
        text-align: center;
        height: 100vh;
    }

    .m-containerB {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .m-contact-box {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 75%;
        align-items: end;
        text-align: end;
    }

    /*** Exceptions ***/    
    .web {
        display: none;
    }

    .m-nav-link:hover {
        color: var(--dark);
    }

    .m-link:hover {
        color: var(--accent);
    }

}