.mobile {
    display: none;
}

body {
    margin: 0;
}

/* Holds background image in place*/
.wood {
    position: fixed;
    top: 0px;
    width: 33%;
    height: 100vh;
}

/* Creates top name/title bar*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}

.line {
    border-bottom: solid var(--dark) 2px;
    width: 70vw;
}

.header {
    font-family: var(--font1);
    font-size: larger;
    text-transform: uppercase; 
}

/* Styling for section titles*/
.title {
    font-family: var(--font1);
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Standardizes the size of each section*/
section {
    display: flex;
    height: 100vh;
}

/* Places content to right of wood image by default*/
.margin-left {
    margin-left: 33vw;
    position: relative;
}

.intro {
    align-items: center;
}

.selfie {
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    margin-left: -15%;
}

.about {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
}

.info {
    margin-top: .5rem;
    color: var(--mid);
    font-family: var(--font1);
}

.links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.projects {
    flex-direction: column;
}

.main-container {
    position: relative;
    display: flex;
    width: 100vw;
    overflow-x: hidden;
}

.alt-container {
    width: 67%;
}

.pro {
    margin-left: -36%;
    color: var(--light);
    padding-top: 2rem;
}

.major {
    width: 35vw;
}

.minor {
    width: 30%;
    border: solid var(--soft) 1px;
}

.img {
    filter: grayscale(1);
}

.img:hover {
    filter: grayscale(0);
}

.secondary-title {
    font-size: larger;
    font-family: var(--font2);
    margin-bottom: .5rem;
}

.projectA {
    display: flex;
    margin-bottom: 2rem;
    justify-content: center;
}

.containerB {
    display: flex;
}

.projectB {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 1rem;
}

.description {
    width: 40%;
    padding: 1rem;
}

.w-link {
    color: var(--dark);
    text-decoration: none;
}

.w-link:hover {
    color: var(--accent);
}

.contact {
    flex-direction: column;
}

.contact-me {
    text-align: end;
    padding-top: 2rem;
    width: 90%;
}

.contact-box {
    height: 50vw;
    flex-direction: column;
    display: flex;
    align-items: end;
    justify-content: space-around;
    margin-right: 2rem;
}

/* Mobile CSS */
@media screen and (max-width: 768px) {
    .mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .web {
        display: none;
    }

    .m-wood {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
        width: 100%;
        background-image: url("../images/wood.png");
        background-position: -10px;
    }

    .m-nav {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        z-index: 10;
        color: var(--light);
    }

    .m-link {
        color: var(--light);
        text-decoration: none;
    }

    .m-link:hover {
        color: var(--dark);
    }

    .m-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
        border: 2px solid red;
    }

    .m-selfie {
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
    }

    .m-center {
        justify-content: center;
        margin-top: -10vh;
    }

    b {
        color: var(--accent);
    }

    .m-major {
        width: 50vw;
    }

    .m-container {
        width: 80vw;
    }

    .m-containerB {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .m-minor {
     
        width: 25%;
        border: solid var(--soft) 1px;
    }

    .m-contact-box {
        border: 2px solid blue;
        width: 90%;
    }

}